@blue: #1b2f4c;
@red: #e22526;
@grey: #d1d3d4;
@light-grey: #fcfcfc;

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  min-width: 1251px;
}

.wrap {
  box-sizing: border-box;
  width: 1200px;
  margin: 0 auto;
  position: relative;
}

.address {
  position: relative;
  background: @blue;
  color: #fff;
  line-height: 29px;
  font-size: 13px;
  z-index: 3;
}

.menu {
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  &_mail {
    padding-top: 40px;
  }
  &_logo {
    text-align: center;
  }
  &_links {
    padding-top: 40px;
    text-align: right;
  }
}

.href {
  &__logo {
    color: #000;
    text-decoration: none;
  }
  &__mail {
    color: #000;
    font-size: 16px;
    text-decoration: none;
  }
  &__dashed {
    color: #000;
    font-size: 17px;
    font-weight: 300;
    text-decoration: none;
    border-bottom: 1px dashed #000;
    margin-left: 30px;
  }
  &__white {
    color: #fff;
    border-bottom: 1px dashed #fff;
    margin-left: 0;
  }
}

.row {
  &__in-menu {
    height: 113px;
  }
}

.logo {
  margin: 13px 0 0 0;
  padding: 0;
  display: inline-block;
}

.logo-title {
  font-size: 17px;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.section {
  &__form {
    position: relative;
    background: url('/img/bg_head.jpg') 0 0 repeat;
    min-height: 700px;
    border-bottom: 1px solid @grey;
  }
  &__how {
    border-bottom: 1px solid @grey;
    padding-bottom: 52px;
  }
  &__how2 {
    position: relative;
    min-height: 615px;
    background: url('/img/people-bg.jpg') center center no-repeat;
    overflow: hidden;
  }
  &__friends {
    background: @light-grey;
    border-bottom: 1px solid @grey;
  }

  &__friends2 {
    background: @light-grey;
    border-bottom: 1px solid @grey;
    position: relative;
  }

  &__reminder {
    border-bottom: 1px solid @grey;
    padding: 108px 0 76px;
  }

  &__info {
    padding-top: 50px;
    padding-bottom: 60px;
    text-align: center;
  }
  &__footer {
    background: @blue;
    color: #fff;
    font-size: 16px;
    text-align: center;
    padding-bottom: 40px;
  }
}

.title {
  margin: 0;
  padding: 70px 0 0 0;
  text-align: center;
  font-weight: 300;
  text-transform: uppercase;

  &__friends {
    text-align: left;
    padding: 40px 0 20px 0;
  }

  &__how {
    padding-top: 40px;
    padding-bottom: 57px;
  }
}

.sub-title {
  margin: 0;
  padding: 0;
  text-align: center;
  font-weight: 300;
}

.text {
  font-size: 16px;
  line-height: 28px;
  margin: 0;
  padding: 0;
}

.bg {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1200px;
  left: 50%;
  margin-left: -600px;
  &__head-people {
    background: url('/img/head_people.png') 0 bottom no-repeat;
  }
}

.form {
  background: @blue;
  color: #fff;
  border-radius: 3px;
  padding: 0 40px 25px;
  margin-top: 90px;
}

.input {
  font-size: 16px;
  height: 43px;
  margin-bottom: 15px;
  width: 100%;
  display: inline-block;
  border-radius: 5px;
  border: none;
  box-sizing: border-box;
  padding: 0 20px;
  &__inline {
    display: inline-block;
    width: 236px;
    border: 2px solid @grey;
  }
}

.select {
  font-size: 16px;
  height: 43px;
  margin-bottom: 15px;
  width: 100%;
  display: inline-block;
  border-radius: 0;
  border: none;
  box-sizing: border-box;
  padding: 0 20px;
}

.btn {
  height: 43px;
  background: @red;
  color: #fff;
  font-weight: 300;
  display: inline-block;
  width: 100%;
  text-align: center;
  border: none;
  border-radius: 5px;
  &__register {
    width: 276px;
  }
  &__inline {
    width: 360px;
    vertical-align: top;
  }
}

.todo {
  text-align: center;
  font-size: 16px;
  &_img {
    vertical-align: middle;
    margin: 0 10px;
  }
}

.footer {
  padding-top: 18px;
  padding-bottom: 36px;
}

.girl {
  min-height: 640px;
  background: url('/img/woman.png') 0 bottom no-repeat;
}

.part {
  margin-bottom: 30px;
  &__long {
    margin-bottom: 65px;
  }
}

.time {
  margin-top: 15px;
  margin-bottom: 25px;
  &_item {
    display: inline-block;
  }
  &_circle {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid @red;
    color: @red;
    text-align: center;
    font-size: 30px;
    line-height: 50px;
  }
  &_label {
    color: @grey;
    font-size: 11px;
    text-align: center;
  }
  &_separator {
    font-size: 18px;
    line-height: 50px;
    vertical-align: top;
    margin: 0 4px;
  }
}

.list {
  list-style: none;
  margin: 15px 0 50px 0;
  padding: 0;
  &_item {
    margin: 0;
    padding: 0 0 0 30px;
    font-weight: bold;
    position: relative;
    &:before {
      content: '';
      background: url('/img/done.png') 0 bottom no-repeat;
      width: 19px;
      height: 15px;
      position: absolute;
      left: 0;
      bottom: 3px;
    }
  }
}

.count {
  width: 31px;
  height: 31px;
  border: 2px solid #fff;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  line-height: 30px;
  margin:0 4px;
}
.how {
  margin-top:350px;
  border-radius: 5px;
  background: rgba(255,255,255,0.8);

  margin-bottom:30px;
  .todo {
    margin-bottom:30px;
  }
}
.label {
  position: absolute;
  background: url('/img/open.png');
  width: 287px;
  height: 51px;
  right: -36px;
  top: 50px;
}
.notice-form {
  text-align: center;
  margin-top: 67px;
}
.notice {
  width:950px;
  display: inline-block;
  position: relative;
  padding: 0 0 0 90px;
  margin: 0 0 0 90px;
  font-size:25px;
  font-weight: 500;
  &:after {
    position: absolute;
    content: '';
    background: url('/img/40.png');
    width: 62px;
    height:63px;
    left: 0;
    top:8px;
  }
}
.woman {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 0;
  left: -40px;
  img {
    position: absolute;
    height: 100%;
  }
}
